html {
  height: 100%;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "BioRhyme", serif;
  font-size: 5.5vw;
  margin: 0.5vh;
  margin-left: auto;
  color: white;
}

#book-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.book-item {
  width: 70vmin;
  height: 15vmax;
  display: flex;
  flex-direction: row;
  margin: 1vh;
  padding: 2vh;
  border-radius: 15px;
  background-color: rgba(120, 120, 120, 0.8);
  color: white;
}

.book-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 25%;
  margin-right: 1vmax;
}

.book-image>img {
  height: 80%;
}

.book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 75%;
}

.book-header {
  color: white;
  margin-right: 1vmax;
  font-family: "BioRhyme", serif;
  font-size: 2.5vmin;
}

.book-value {
  color: black;
  font-family: "Space Mono", monospace;
  font-size: 2.5vmin;
}

.book-data {
  display: flex;
  flex-direction: row;
}