html {
  height: 100%;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#book-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.book-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
}

.book-image {
  height: 10vh;
  width: 5vw;
}
