html {
  height: 100%;
}

body {
  margin: 0%;
  width: 100%;
  min-height: 100%;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "BioRhyme", serif;
  font-size: 4vw;
  margin: 0vh 0.5vw;
  margin-left: auto;
  color: white;
}

#book-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}

.book-item {
  width: 45vw;
  height: 22vh;
  display: flex;
  flex-direction: row;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  border-radius: 15px;
  background-color: rgba(120, 120, 120, 0.8);
  color: white;
}

.book-item:hover {
  background-color: rgb(120, 120, 120, 0.95);
}

.book-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 20%;
  margin-right: 1vw;
  margin-top: auto;
  margin-bottom: auto;
}

.book-image > img {
  height: 100%;
  width: 100%;
}

.book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;
}

.book-header {
  color: white;
  margin-right: 1vw;
  font-family: "BioRhyme", serif;
  font-size: 2.3vmin;
}

.book-value {
  color: black;
  font-family: "Space Mono", monospace;
  font-size: 2.3vmin;
}

.book-value-button {
  margin: auto;
  margin-left: 1vw;
}

.book-value-button > button {
  font-size: 1.8vmin;
}

button {
  cursor: pointer;
}

.book-data {
  display: flex;
  flex-direction: row;
}

#add-book {
  background-color: #66cdaa;
  border: none;
  width: 5vmax;
  height: 5vmax;
  color: white;
  font-family: Verdana;
  font-size: 3vmin;
  font-weight: bold;
  text-decoration: none;
  display: block;
  position: fixed;
  bottom: 5vmin;
  right: 5vmin;
  border-radius: 50%;
}

#form-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#form-flex-container {
  height: 100%;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  background-color: white;
  border-radius: 15px;
  padding: 3vh 1vw;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
}

form > section {
  display: flex;
  flex-direction: column;
  margin: 2vh 1vw;
}

.hidden {
  display: none;
}

.exit-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.exit-button > button {
  background-color: transparent;
  border-color: black;
  border-radius: 15px;
}

.remove-button {
  margin-left: 0.5vw;
  align-items: flex-start;
}

.remove-button > button {
  background-color: transparent;
  border-color: white;
  color: white;
  border-radius: 15px;
}
